Django==4.2
django-cors-headers==4.0.0
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==5.2.2
django-seed==0.3.1
drf-yasg==1.21.5
mysqlclient==2.1.1
django-seed==0.3.1
boto3==1.26.143
flake8==6.0.0
python-dotenv==1.0.0
django-extensions==3.2.1
numpy==1.24.3
mediapipe==0.10.0
mediapipe-rpi4==0.8.8
moviepy==1.0.3
opencv-python==4.7.0.72
protobuf==3.19.6
tensorflow==2.11.0
tensorflow-hub==0.13.0
psycopg2==2.9.6
moviepy==1.0.3
celery==5.3.1
redis==4.6.0
django-celery-results==2.5.1
django-redis==5.3.0