@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+25B6, U+0061, U+006E, U+0063, U+0069, U+0066, U+0079;
}

.logo {
  font-family: "ONE-Mobile-POP", sans-serif;
  background:  -webkit-linear-gradient(
    110deg,
    #00b050 0%,
    #000bde 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
